@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; margin-top: 15px;} /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; margin-top: 15px;} /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; margin-top: 15px; } /* '\1f4f7' */



body {
	font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: white;
}

div {
    display: block;
}

h1 {
	font-size: 36px;
}

a {
    text-decoration: none;
    color: #504C4C;
    font: 17px sans-serif;
}

li {
    list-style: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.main-header{
	background: #EEE;
	margin: 0 auto;
    height: 328px; 
}

.index-header{
    height: 460px;
}

.main-header .container-clearfix {
    padding-top: 27px;
}

.container-clearfix{
	margin: 0 auto;
    width: 880px;
}

.logo{
	float: left;
}

.bucket {
    float: right;
    display: table;
}

.bucket-cell {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
}

.cart {
    
    padding-left: 25px;
    float: right;
}

.main-navigation{
    height: 57px;
}

.header-menu-container {
    float: left;
    display: table;
    margin-left: 80px;
}

.header-menu-container-cell {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
}

.header-menu {
    margin: 0;
}

.container-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header-content {
    padding-top: 100px;
}

.slider{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('../img/slider1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slider2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slider3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

.btn {
    color: #FFF;
    background: #FB565A;
    border-radius: 3px;
    padding: 10px 0;
    width: 210px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.btn:hover{
    background: #d6494d
}

.btn:active{
    background: #b63538
}

.green-btn {
    background: #00CA74;
}

.green-btn:hover{
    background: #01a25e
}

.green-btn:active{
    background: #009053
}

.yellow-btn {
    background: #EFC84A;
}

.yellow-btn:hover{
    background: #d6ae2c
}

.yellow-btn:active{
    background: #c09b24
}

.header-menu li {
    margin-right: 37px;
    display: inline-block;
}

.header-menu li a:hover {
    color: #fb565a
}

.bucket-cell a:hover {
    color: #fb565a
}

.header-menu li a:active {
    color: #d0d0d0
}

.bucket-cell a:active {
    color: #d0d0d0
}

.projectsDiv {
    width:960px;
}

.project-btn.btn  {
    width: 141px;
    margin-left: 1px;
    margin-top: 34px;
}

.projects {
    height: 360px;
    margin-top: 56px;
    padding: 0;
}

.projects li {
    display: inline-block;
    width: 240px;
    margin-right: 39px;
    margin-left: 38px;
}

.project-item li {
	padding: 5px;
}

.project-title {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.links {
    border-bottom: 2px solid #EFEFEF;
    margin-bottom: 70px;
}

.links li {
    margin-right: 110px;
    display: inline-block;
    vertical-align: middle;    
    margin: 30px;
}

.links li a img{
    opacity: 0.2;
}

.links li a img:hover {
     opacity: 1;
}

.links li a img:active {
      opasity: 1;
}

.about-us {
    border-top: 2px solid #EFEFEF;
    border-bottom: 2px solid #EFEFEF;
    min-height: 325px;
    padding: 74px 0;
}

.about-us-title-left{
    float: left;
    display: inline-block;
    width: 400px;
    margin-left: 30px;
}

.about-us-title-right{
    display: inline-block;
    margin-left: 200px;
}

.about-us-slogan-left{
    float: left;
    display: inline-block;    
    margin-left: 30px;
    width: 600px;
}

.about-us-slogan-right{
    padding-right: 150px;
    float: right;
}

.about-us-work-left{
    float: left;
    display: inline-block;
    width: 500px;
    margin-left: 30px;
}

.about-us-work-right{
    display: inline-block;    
    float: right;
}

.orders-list {
    line-height: 40px;
    margin-top: 20px;
}

.orders-list li {
    background: url(../img/marker_list.png) 0 20px no-repeat;
    padding-left: 35px;
}

.map {
    height: 460px;
}

.footer-contacts {
    background: #FFF;
    padding: 20px;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 80px;
    position: absolute;
}

.footer-map {
    position: relative;
}

.slogan {
    float: left;
    margin-left: 55px;
}

.welcome {
    margin-left: 110px;
    margin-top: 80px;
    height: 150px;
    font-size: 35px;
}

.welcome-container {
    clear: both;
    text-align: center;
    padding-top: 74px;
}

.main-filter {
    width: 240px;
}

.range-controls {
    background: #F1F1F1;
    border-radius: 4px;
    position: relative;
    padding: 0 30px;
    width: 180px;
    height: 80px;
    margin-top: 25px;
    overflow: hidden;
}

.scale {
    margin-top: 39px;
    background: #DADEE0;
    height: 2px;
}

.scale-bar {
    background: #00CA74;
    width: 60%;
    height: 2px;
}

.toggle {
    background: #ABABAB;
    width: 4px;
    height: 4px;
    border: 7px solid #FFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 0 0 #D1D1D1;
    -moz-box-shadow: 0 2px 0 0 #D1D1D1;
    box-shadow: 0 2px 0 0 #D1D1D1;
    position: absolute;
    cursor: pointer;
}

.min-toggle {
    top: 31px;
}

.max-toggle {
    top: 31px;
    left: 125px;
}

.price-controls {
    margin-top: 14px;
}

.price-controls input {
    font: 300 16px 'Roboto' sans-serif;
    background: #F1F1F1;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 60px;
    padding: 8px 10px;
    margin-left: 8px;
    text-align: center;
}

.content {
    width: 560px;
    float: right;
}

.filter-title {
    font: bold;
    font-size: 18px;
}

.items ul {
    padding-left: 0;
    margin: 0;
}

.items {
    width: 560px;
    float: right;
    padding-top: 25px;    
}

.items li {
    display: inline-block;
    cursor: pointer; 
    margin-bottom: 80px;   
}

.items li:nth-child(odd) {
    padding-right: 75px;
}

.items li:nth-child(even) {
    padding-right: 0;
}

.item-container {
    background: url(../img/browser.jpg) no-repeat 0 0;
    width: 240px;
    height: 240px;
    padding-top: 30px;
    position: relative;
}

.div-hover {
    display: none;
}

.item-container:hover .div-hover {
    display: block;
    position: absolute;
    background-color: #ffffff;
    top:50px;
    left: 20px;
    width: 200px;
    height: 200px;
    text-align: center;
}

.hoverButton {
    color: #FFF;
    background: #FB565A;
    border-radius: 3px;
    padding: 12px 36px;
    text-align: center;
    text-transform: uppercase;
    border:0;
}

.pagination .btn {
    background: #F1F1F1;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #F1F1F1;
    border-radius: 4px;
    padding: 10px 16px;
    width: 5px;
    margin-right: 5px;
    display: inline-block;
}

.pagination .btn:hover {
    background: #e5e5e5;
}

.pagination .btn:active {
    background: #d5d5d5;
    border-top: 2px solid #b5b5b5;
}

.pagination .active-btn {
    background: #FFF;
}

.pagination .next-btn {
    width: 135px;
}

.left-bar {
    width: 240px;
    float: left;
}

.price-label {
    font-size: 1.17em;
}

.main-content {
    margin: 80px auto;
}

.sort-list {
    padding-left: 0;
    display: inline;
}

.sort-list li {
    margin-left: 45px;
    display: inline;
}

.sort-list li:first-child {
    margin-left: 40px;
}

.social-friends {
    margin: auto;
    margin-top: 77px;
    width: 870px;
}

.center-layout {
    clear: both;
    margin: 0 auto;
    width: 880px;
}

.social-btns {
    float: left;
    padding-left: 0;
    margin: 0;
}

.slogan-big {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: -5px;
    margin-top: -6px;
}

.btn-social {
    background: #F1F1F1;
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    position: relative;
}

.btn-social:hover {
    background: #fb565a;
}

.btn-social:active {
    background: #d6494d;

}

.hoverButton:hover {
    background: #d6494d;
}

.hoverButton:active {
    background: #b63538;
}

.social-btns .inst {
    
}

.social-btns .fb {
    
}

.social-btns .vk {
    
}

.social-btns span {
    position: absolute;
    top: 30%;
    left: 35%;
    display: block;
    width: 19px;
    height: 23px;
}

.social-btns li {
    margin-right: 25px;
    vertical-align: top;
    display: inline-block;
}

.grid {
    margin-top: 50px;
}

 .features {
    margin-top: 50px;
 }

.main-filter label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.grid label:before, .features label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    background: url(../img/radio_not_check.png) no-repeat;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

.grid li, .features li {
    margin-bottom: 15px;
}

.grid label, .features label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.grid input[type="radio"]:checked ~ label:before {
    background: url(../img/radio_check.png) no-repeat;
}

.features {
    margin-top: 50px;
}

.features input[type="checkbox"]:checked ~ label:before {
    background: url(../img/checkbox_check.png) no-repeat;
}
.features label:before {
    background: url(../img/checkbox_not_check.png) no-repeat;
}

.show-btn {
    width: 160px;
    background: #EEE;
    margin-top: 40px;
    color: #464444;
}

.footer-map-label {
    position: absolute;
    top: 80px;
    left: 848px;
    height: 100px;
}